@import './colors';

.settings-page {
    width: 100%;
    height: 100vh;
    .container {
      padding: 20px;
      margin: 0 auto;
  
      h1 {
        font-size: 3rem;
        margin-bottom: 20px;
        color: $secondary-colour;
      }
  
      .section {
        margin-bottom: 30px;
  
        h2 {
          font-size: 1.5em;
          color: $secondary-colour;
          border-bottom: 2px solid $hover-color;
          padding-bottom: 5px;
          margin-bottom: 15px;
        }
  
        .form-group {
          margin-bottom: 15px;
  
          label {
            display: block;
            font-size: 1.1em;
            margin-bottom: 5px;
            color: $secondary-colour;
          }
  
          input[type="text"],
          input[type="email"],
          input[type="password"],
          select {
            width: 100%;
            padding: 10px;
            border: 1px solid $input-border;
            border-radius: 5px;
            font-size: 1em;
          }
  
          input[type="checkbox"] {
            margin-right: 10px;
          }
  
          input[type="checkbox"] + label {
            font-size: 1em;
            color: $secondary-colour;
          }
        }
  
        .btn-save {
          background-color: $secondary-colour;
          color: $text-color;
          font-weight: bold;
          border: none;
          padding: 10px 15px;
          border-radius: 5px;
          font-size: 1em;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: $hover-color;
          }
        }
  
        .form-group {
          margin-bottom: 20px;
        }
      }
    }
  
    .goback-button {
      font-size: 1.5em;
      color: $secondary-colour;
      cursor: pointer;
      margin: 20px;
      transition: color 0.3s ease;
  
      &:hover {
        color: $hover-color;
      }
    }
  }
  